html, body, h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-family: montserrat;
  }

  .container {
    width: 100vw; 
    max-width: 100%; 
  }

.navbar {
    width: 100vw; 
    height: 5vh; 
    display: inline-flex;
    background-color: #0E1922;
    font-size: 180%;  
    font-family: montserrat;
    color: #ffffff;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
}

.navbar-texto {
    white-space: nowrap;
}

.navbar-texto2 {
    width: 100vw; 
    height: 5vh; 
    white-space: nowrap;
    padding-top: 1%;
    text-align: right;
    }

.tela1{
    width: 94vw; 
    height: 100vh; 
    background-color: #b5d8d4;
padding: 5%;
    display: inline-flex
}

.texto{
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 4vh;
    width: 40vw;
    text-align: left;
    font-size: 130%;
    background-color: #acff97;
    border-radius: 20px;
}

.tela1 img{
    margin-top: 0;
    object-fit: cover;
    width: 50%;
    height: 80%;
}

.tela2{
    width: 100vw; 
    height: 50vh; 
    background-color: #ffd17d;
}

.tela3{
    width: 100vw; 
    height: 51vh; 
    background-color: #9cff83;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 2%;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(230, 230, 230);    
    border-radius: 5px;       
  }